<div class="flyout-menu js-flyout-menu">


  <% if User.current.logged? || !Setting.login_required? %>
    <div class="flyout-menu__search">
      <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
      <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
      <%= label_tag 'flyout-search', '&#9906;'.html_safe, :class => 'search-magnifier search-magnifier--flyout' %>
      <%= text_field_tag 'q', @question, :id => 'flyout-search', :class => 'small js-search-input', :placeholder => l(:label_search) %>
      <% end %>
    </div>
  <% end %>

  <% if User.current.logged? %>
    <div class="flyout-menu__avatar <% if !Setting.gravatar_enabled? %>flyout-menu__avatar--no-avatar<% end %>">
      <% if Setting.gravatar_enabled? %>
        <%= link_to(avatar(User.current, :size => "80"), user_path(User.current)) %>
      <% end %>
      <%= link_to_user(User.current, :format => :username) %>
    </div>
  <% end %>

  <% if display_main_menu?(@project) %>
    <h3><%= l(:label_project) %></h3>
    <span class="js-project-menu"></span>
  <% end %>

  <h3><%= l(:label_general) %></h3>
  <span class="js-general-menu"></span>

  <span class="js-sidebar flyout-menu__sidebar"></span>

  <h3><%= l(:label_profile) %></h3>
  <span class="js-profile-menu"></span>
  
</div>
